<h1>{{title}}</h1>
{{!!-- comments can be display with either this notation --}}
{{! or this notation }}
{{!!-- using this style allows you to add in braces --}}
<h2>{{article.title}}</h2>
{{#list people}}{{firstName}} {{lastName}}{{/list}}